.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .container h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
  }
  
  .container input {
    width: 300px;
    padding: 12px;
    margin-bottom: 16px;
  
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .container button {
    width: 300px;
    padding: 12px;
    font-weight: 700;
  
    background:#333;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 16px;
  }
  
  .container button:hover {
    background-color: #333;
  }
  
  
  
  .container ul {
    list-style: none;
    margin-top: 30px;
    max-width: 400px;
  }
  
  .container li {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
  }
  .container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    max-width: 600px;
    font-size:15px;
  }
  
  .container th,
  .container td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .container th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .container tr:hover {
    background-color: #f2f2f2;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 16px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s;
  }
  
  nav a:hover {
    color: #d13e75;
  }
  